<!DOCTYPE html>
<html lang="en">
<head>
  <title> Lemon'made Estates </title>

  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <!-- JAVASCRIPT -->
  <script defer type="module" src="/build/main.js"></script>

  <!-- CSS -->
  <!-- <link type="text/css" rel="stylesheet" href="/css/3D.css"> -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav>
    <a href="/viewers/new" <%- title === 'Add Appt' ? 'class="active"' : '' %>>ADD APPOINTMENT</a>

    <a href="/buyers/new" <%- title === 'Add Buyer' ? 'class="active"' : '' %>>ADD BUYER</a>

    <a href="/buyers" <%- title === 'All Buyers' ? 'class="active"' : '' %>>ALL BUYERS</a>
  </nav>

  <div id="loggin">
    <ul class="right XL">
      <li>
        <% if (user) { %>
        <a class="logs" href="/logout"><i class="material-icons left">trending_flat</i> Log Out </a>
        <% } else { %>
        <a class="logs" href="/auth/google"><i class="material-icons left">vpn_key</i> Login with Google </a>
        <% } %>
      </li>
    </ul>
  </div>

  <main>
    <h1><%= title %></h1>