<%- include('../partials/header') %>

<p>Please first ensure that your name is not in the dropdown
  <select>
    <% freqFlyrs.forEach(f => { %>
      <option><%= f.name %></option>
    <% }) %>
  </select>
</p>

<form id="add-freqFlyr-form" action="/freqFlyrs" method="POST">
  <label>Name:</label>
  <input type="text" name="name">

  <label>Born:</label>
  <input type="date" name="born">

  <input type="submit" value="Add Frequent Flyr">
</form>

<%- include('../partials/footer') %>